*{
	margin: 0px;
	padding: 0px;
	font-family:cursive;

}
body{
    background:black;
     background-position: center;
    background-image: url('http://revelwallpapers.net/d/736C71466D5A576E7863505773374E7A7A4A7834334A3668366379695A513D3D/bamboo_forest_japan.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
/*ul{
 
    background-position: center;
    background-image: url('https://i.pinimg.com/originals/8c/96/78/8c9678378df3d3a03411f3c930fcca10.gif');
    background-repeat: no-repeat;
}*/
header{
	background: black;
	position: relative;
	z-index: 1000;
	height: 10vh;
}
li{
    display: inline-block;
    padding: 35px;
    list-style: none;
    font-size: 18px;
    margin-top: -12px;


}
a{
    color:white;
    padding: 10px;
    text-decoration: none;

}
a:hover{
	color:#67E195;
	font-size:15px;
}
img{
	width: 200px;
	height: 200px;
	margin: 30px;
	/*padding:30px;*/
	border-radius: 10px;
}
button {
	 background-position: center;
    background-image: url('https://thumbs.dreamstime.com/t/fondo-o-cartelera-de-madera-del-estilo-rural-con-la-cuatro-hoja-dos-46416640.jpg');
    background-repeat: no-repeat;
	color: white;
	font-size: 25px;
	margin: 10px;
	border-radius: 10px;
	padding: 30px 50px;
	overflow: hidden;
	
	
}
.primero1{
	 background-position: center;
    background-image: url('https://i.pinimg.com/originals/70/dd/ee/70ddee4e3471cd185725c5d2d6503e71.jpg');
    background-repeat: no-repeat;
	width: 45%;
	height: 500px;
	font-family:cursive; 
	color:black;
	float: left;
	margin-left: 3%;
	/*margin-top: 6%;*/
	overflow: hidden;

}
.primero2{
	 background-position: center;
    background-image: url('https://i.pinimg.com/originals/70/dd/ee/70ddee4e3471cd185725c5d2d6503e71.jpg');
    background-repeat: no-repeat;
    position: relative;
	width: 45%;
	height: 500px;
	margin-left: 1%;
	margin-top: 5.5%;
	font-family:cursive; 
	color: black;
	overflow: hidden;	
}
#texto1{

	margin-left: 6%;
	width: 330px;
	height: 400px;
	margin-top:10%;
	border-radius: 300px;
	
}
#texto2{
	
	margin-left: 6%;
	width: 330px;
	height: 450px;
	border-radius: 300px
	
}

#cerrar1 , #cerrar2,#cerrar3,#cerrar4{
  background: black;
  width: 25px;
  height: 25px; 
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color:white;
  border-radius: 50%;
}
